{{#if aAcces}}
<h2>Administrateur</h2>

<form id="form-cours" novalidate>
    <div class="form-group center">
        <fieldset>
            <h3>Ajouter un cours</h3>

            <!--Nom du cour-->
            <div>
                <label for="nom">
                    <p class="form-p">Nom du cours : </p>
                    <input type="text" name="nom" id="nom" placeholder="Entre le nom du cous" required=""
                        pattern="[A-Za-z]{3,}">
                    <span class="validity"></span>
                    <div id="error-nom" class="error"></div>
                </label>
            </div>

            <!--La date du debut du cour-->
            <div>
                <label for="date_debut">
                    <p class="form-p">Date de début :</p>
                    <input type="datetime-local" name="date_debut" id="date_debut" required=""
                        pattern="\d{4}-\d{2}-\d{2}">
                    <span class="validity"></span>
                    <div id="error-date_debut" class="error"></div>
                </label>
            </div>

            <!--Le nombre de cour-->
            <div>
                <label for="nb_cours">
                    <p class="form-p"> Nombre de cours :</p>
                    <input type="number" name="nb_cours" id="nb_cours" placeholder="Entre le nombre de cour" required=""
                        pattern="[0-9]">
                    <span class="validity"></span>
                    <div id="error-nb_cours" class="error"></div>
                </label>
            </div>

            <!--Capacité dans le cour-->
            <div>
                <label for="capacite">
                    <p class="form-p"> Capacité :</p>
                    <input type="number" name="capacite" id="capacite" placeholder="Entre la capacité" required=""
                        pattern="[0-9]">
                    <span class="validity"></span>
                    <div id="error-capacite" class="error"></div>
                </label>
            </div>

            <!--Description-->
            <div>
                <label for="description">
                    <p class="form-p">Description :</p>
                    <textarea name="description" id="description" cols="30" rows="5"
                        placeholder="Enter une description sur le nouveau cour:" required="" minlength="10"
                        maxlength="200"></textarea>
                    <div id="error-description" class="error"></div>
                </label>
            </div>

            <!--Submit button-->
            <div>
                <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Soumettre">
            </div>
        </fieldset>
    </div>
</form>

<!--Tableau qui affiche toute les cours qui son disponible-->
<table class="table">
    <thead>
        <tr>
            <th colspan="7" style="position = center">Liste des cours </th>
        </tr>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Dates</th>
            <th scope="col">Nombre de cours</th>
            <th scope="col">Capacite</th>
            <th scope="col">Description</th>
            <th scope="col">Nombre d'incription</th>
        </tr>
    </thead>
    <tbody id="cours-table">
        <!--On affiche les cours-->
        {{#each cours}}
        <tr id="cours-row-{{this.id_cours}}">
            <th scope="col">{{this.nom}}
                <div class="space-top">

                    {{!-- On met les utilisateur qui son inscrit dans le cours --}}
                    <details>
                        <summary class="space-bottom">Inscrits</summary>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">Courriel</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.utilisateur}}
                                <tr>                                    
                                    <td>{{this.nom}}</td>
                                    <td>{{this.prenom}}</td>
                                    <td>{{this.courriel}}</td>                                    
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </details>
                </div>
            </th>
            <!--On continue a affiche les cours-->
            <td>{{this.dates}}</td>
            <td>{{this.nb_cours}}</td>
            <td>{{this.capacite}}</td>
            <td>{{this.description}}</td>
            <td class="capaciteC" id="Capacite-courante-{{this.id_cours}}">{{this.nbInscription}} / {{this.capacite}}</td>
            <th><input type="button" class="btn btn-danger liste-boutons" name="delete" id="{{this.id_cours}}"
                    value="Supprimer"></th>
        </tr>
        {{/each}}

    </tbody>
</table>

{{!-- Temps reel --}}
<input type="button" id="bouton-test" value="Ajout Cours Realtime">


<!--On affiche toute les utilisateur qui se trouve dans la base de donnee pour modifier le id type utilisateur-->
<details>
    <summary><b>Utilisateur</b></summary>
    <table class="table">
        <thead>
            <tr>
                <th colspan="7" style="position = center">Modification d'acces</th>
            </tr>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">Courriel</th>
                <th scope="col">Type d'acces</th>
            </tr>
        </thead>
        <tbody id="user-table">
            <!--On affiche toute les utilisateur qui se trouve dans la base de donnee pour modifier le id type utilisateur-->
            {{#each utilisateur}}
            <tr id="user-row-{{this.id_utilisateur}}">
                <!--Afficher les informations sur les utilisateur-->
                <th scope="row">{{this.nom}}</th>
                <td>{{this.prenom}}</td>
                <td>{{this.courriel}}</td>
                <td>{{this.id_type_utilisateur}}</td>

                <!--Changer l'acces de l'utilisateur -->
                <th>
                    <!--Dropdwon pour selectioner quel acces que on donne a l'utilisateur-->
                    <select name="admin" class="option-acces" id="{{this.id_utilisateur}}">
                        <option value="" selected="selected">Select</option>
                        <option value="2" id="idAdmin">Admin</option>
                        <option value="1" id="idRegulier">Regulier</option>
                    </select>
                    <!--Boutton qui soumet les changement apporter au compte de l'utilisateur-->
                    <input type="button" class="btn btn-danger bouton-acces" name="modify" id="{{this.id_utilisateur}}"
                        value="Modifier" style="background-color: black; border-color: black;">
                </th>
            </tr>
            {{/each}}
        </tbody>
    </table>
</details>
{{/if}}