<h2>Cours</h2>

<br>
<table class="table" class="position-relative" style="right: 100px">
    <thead>
        <tr>
            <th colspan="7" style="position = center">Liste des cours </th>
        </tr>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Dates</th>
            <th scope="col">Nombre cours</th>
            <th scope="col">Capacite</th>
            <th scope="col">Description</th>
            <th scope="col">Nombre d'incription</th>
            <th scope="col">Inscrire</th>
        </tr>
    </thead>
    <tbody id="cours-table">
        
        {{#each cours}}
        <tr id="cours-row-{{this.id_cours}}">
            <th scope="row">{{this.nom}}</th>
            <td>{{this.dates}}</td>
            <td>{{this.nb_cours}}</td>
            <td>{{this.capacite}}</td>
            <td>{{this.description}}</td>
            <td id="Capacite-courante-{{this.id_cours}}">{{this.nbInscription}} / {{this.capacite}}</td>
            <td> <input type="button" class="liste-boutons" id="{{this.id_cours}}" value="Inscrire"></td>
        </tr>
        {{/each}}
        
    </tbody>
</table>